In [1]:
import numpy as np
import pandas as pd

In [10]:
# Carga de archivos
demograficos = pd.read_csv('/Volumes/demograficos/DM_DatosGenerales.txt', delimiter='|', encoding='latin1', header=0, dtype=object)
dispersiones = pd.read_csv('/Volumes/demograficos/DM_DatosDispersion.txt', delimiter='|', encoding='latin1', header=0, dtype=object)
domicilios = pd.read_csv('/Volumes/demograficos/DM_DatosDomicilio.txt', delimiter='|', encoding='latin1', header=0, dtype=object)
marca_big = pd.read_csv('/Volumes/demograficos/Marca_BIG.txt', delimiter='|', encoding='latin1', header=0, dtype=object)

In [123]:
demograficos

,#FI_ID_INSTITUCION,FI_EMPLEADO,FI_PAISCU,FI_CANALCU,FI_SUCURSALCU,FI_FOLIOCU,FC_INSTITUCION,FC_NOMBRECOMPLETO,FD_FECHANACIMIENTO,FC_PAISNACIMIENTO,...,FC_APELLIDO_PATERNO,FC_APELLIDO_MATERNO,FI_ID_PAIS,FD_FECHA_ALTA,FNPAISNACIMIENTO,FNEDONACIMIENTO,FNESTADOCIVIL,FNESCOLARIDAD,FNSEXO,FNNACIONALIDAD
0,11098,3432009,1,9,2767,626,BECAS,JOSE MIGUEL CORTES MENDEZ,12/01/1996 00:00:00,NaN,...,CORTES,MENDEZ,1,10/31/2020 00:00:00,1,7,0,7,2,484
1,473,3478305,1,1,4747,20740,BRAME COMUNICACION DIGITAL SA DE CV,JOSE ANGEL ROSAS ALVAREZ,08/14/1983 00:00:00,NaN,...,ROSAS,ALVAREZ,1,NaN,1,9,1,7,2,484
2,5914,3460092,1,1,181,64393,SERVICIO COMERCIAL GARIS S.A. DE C.V.,MARIA DEL CARMEN PEREZ TOLENTINO,02/08/1991 00:00:00,NaN,...,PEREZ,TOLENTINO,1,NaN,1,15,1,7,1,484
3,5383,3520448,1,1,6897,80741,BAZ PORTABILIDAD NOMINA,DAFNE ISELA MONTESINO AGUILAR,08/16/2000 00:00:00,NaN,...,MONTESINO,AGUILAR,1,11/15/2021 18:39:41,1,23,0,7,1,484
4,11527,3511538,1,1,5908,74921,ASEADITO S DE R L DE C V,ALONSO BRUNO CRUZ,01/23/1979 00:00:00,NaN,...,BRUNO,CRUZ,1,NaN,1,7,2,7,2,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219943,3469,633726,1,1,2218,30387,PROFESIONALES EN MANTENIMIENTO Y LIMPIEZA SA D...,REGINO SALGADO DOMINGUEZ,03/12/1965 00:00:00,NaN,...,SALGADO,DOMINGUEZ,1,NaN,1,11,2,7,2,484
2219944,5518,658481,1,10,766,1245,REPRESENTACIONES DEL SURESTE DE MEXICO SA DE CV,JOSE ANASTASIO TUN PEREZ,07/26/1975 00:00:00,NaN,...,TUN,PEREZ,1,NaN,1,31,1,7,2,484
2219945,6294,677746,1,1,7284,11729,SINEMEN SIND TRAB IND GRAL DIST PROD EMB ENV S...,ALEXA MCDONALD COTERO,08/06/1997 00:00:00,NaN,...,MCDONALD,COTERO,1,NaN,1,9,1,7,1,484
2219946,5383,699727,1,1,4527,120895,BAZ PORTABILIDAD NOMINA,ORLANDO SOLIS ALEJANDRO,08/11/1993 12:00:00,NaN,...,SOLIS,ALEJANDRO,1,NaN,1,17,4,7,2,484
2219947,5386,721509,1,1,2697,26838,LIMPORIUM SA DE CV,MARIA JUANA FELIPA RICARDO BAROJAS,03/26/1969 00:00:00,NaN,...,RICARDO,BAROJAS,1,NaN,1,NaN,0,NaN,1,484

In [15]:
dispersiones['FN_SALARIO'] = dispersiones['FN_SALARIO'].astype(float)

In [19]:
dispersiones['FIPERIODICIDADPAGO'] = pd.to_numeric(dispersiones['FIPERIODICIDADPAGO'], errors='coerce')

In [22]:
dispersiones = dispersiones.dropna(subset=['FIPERIODICIDADPAGO'])

In [29]:
dispersiones = dispersiones.dropna(subset=['FI_TOTALDISPER'])

In [31]:
dispersiones['FIPERIODICIDADPAGO'] = dispersiones['FIPERIODICIDADPAGO'].astype(int)

/var/folders/p_/d1ty51193js_k1md1xwnzd300000gn/T/ipykernel_7302/1488484356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispersiones['FIPERIODICIDADPAGO'] = dispersiones['FIPERIODICIDADPAGO'].astype(int)

In [41]:
dispersiones['FI_TOTALDISPER'] = dispersiones['FI_TOTALDISPER'].astype(int)

In [76]:
dispersiones = dispersiones[dispersiones['FN_SALARIO'] > 0]

In [79]:
dispersiones['FIPERIODICIDADPAGO'] = dispersiones['FIPERIODICIDADPAGO'].astype(int)

/var/folders/p_/d1ty51193js_k1md1xwnzd300000gn/T/ipykernel_7302/1488484356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispersiones['FIPERIODICIDADPAGO'] = dispersiones['FIPERIODICIDADPAGO'].astype(int)

In [101]:
dispersiones

,#FI_ID_INSTITUCION,FI_EMPLEADO,FC_CUENTA,FD_ULTIMADISPER,FI_TOTALDISPER,FN_SALARIO,FC_PERIODICIDADPAGO,FI_CAPACIDADPAGO,FC_PRODUCTO,FI_ID_PRODUCTO,FI_CREDITOSACTIV,FIPERIODICIDADPAGO,FI_CTA_DIGITOS
0,4673,244856,01277645780106410150,11/30/2021 00:00:00,7,2965.15,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,3,3,106410150
2,4673,244860,01272080260173736647,11/30/2021 00:00:00,7,3054.92,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,173736647
3,4673,244861,01271701210198832030,11/30/2021 00:00:00,7,2953.39,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,198832030
8,4673,244875,01274132260176358222,11/30/2021 00:00:00,7,616.57,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,1,3,176358222
9,4673,244877,01276813130104919555,11/30/2021 00:00:00,7,1896.22,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,3,3,104919555
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222397,6633,3411046,01272202021360380941,12/09/2021 00:00:00,20,1343.83,SEMANAL,NaN,NOMINA AZTECA,10,0,1,1360380941
2222403,5383,3407340,01279546161629544615,12/09/2021 00:00:00,4,55541.65,QUINCENAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,0,2,1629544615
2222406,5383,3381046,01270364300162484332,12/09/2021 00:00:00,10,1740.27,SEMANAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,0,1,162484332
2222410,5383,3407575,01276186060114666353,12/10/2021 00:00:00,6,2084.36,SEMANAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,0,1,114666353
2222415,11004,3415949,01272216680163003291,11/25/2021 00:00:00,6,887.45,SEMANAL,NaN,NOMINA AZTECA,10,0,1,163003291

In [81]:
empleados_muestra = dispersiones.sample(n=100000)

In [46]:
domicilios = domicilios.dropna(subset=['FC_LATITUD'])

In [64]:
domicilios = domicilios.dropna(subset=['FC_ID_ESTADO'])

In [66]:
domicilios = domicilios.dropna(subset=['FI_ID_MUNICIPIO'])

In [111]:
domicilios

,#FI_ID_INSTITUCION,FI_EMPLEADO,FC_CALLEHOGAR,FC_NUMEXTHOGAR,FC_NUMINTHOGAR,FC_COLONIAHOGAR,FC_MUNICIPIOHOGAR,FC_ESTADOHOGAR,FC_CODIGOPOSTAL,FC_PAIS,FI_ID_TIPOVIVIENDA,FC_ID_TIPOVIVIENDA,FC_LATITUD,FC_LONGITUD,FC_SUCURSAL,FI_ID_COLONIA,FI_ID_MUNICIPIO,FC_ID_ESTADO,FI_ID_PAIS
13,4673,1273,TIZAPAN,MZ318,LT7,CIUDAD AZTECA,MEXICO,ECATEPEC,55120,MEXICO,3,PROPIA,19.5443440000000000,-99.0294730000000000,NaN,NaN,1,15,1
14,4673,175482,SAN ISIDRO,2,0,SAN ISIDRO,MEXICO,CHIMALHUACAN,56330,MEXICO,3,PROPIA,19.3984560000000000,-98.9199310000000000,NaN,NaN,6,15,1
15,4673,182599,VENINTINUEVE,168,SIN,ESTADO DE MEXICO,NEZAHUALCOYOTL,MEXICO,57210,Mexico,3,PROPIA,19.4230630000000000,-99.0445250000000000,NaN,NaN,58,15,1
16,4673,190654,VARGAS,SN,SN,VICENTE GUERRERO,NICOLAS ROMERO,MEXICO,54424,MEXICO,3,PROPIA,19.6104130000000000,-99.3258810000000000,NaN,NaN,60,15,1
17,4673,194835,SANTA ROSA,90,NaN,LA RAQUELITO,NAUCALPAN,MEXICO,53660,Mexico,3,PROPIA,19.4568430000000000,-99.2694300000000000,NaN,NaN,57,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219942,3469,575518,4 ORIENTE JUAREZ,928,NaN,LAFRAGUA,Lafragua,PUEBLA,73780,MEXICO,3,PROPIA,19.4663030000000000,-97.6839890000000000,NaN,NaN,93,21,1
2219945,3469,619807,PROL ALTAMIRANO,929,NaN,SALVATIERRA,Salvatierra,GUANAJUATO,38900,MEXICO,3,PROPIA,20.2086700000000000,-100.8790930000000000,NaN,NaN,28,11,1
2219948,6148,627277,MIGUEL DOMINGUEZ,35,402,PENITENCIARIA AMPLIACION,VENUSTIANO CARRANZA,CIUDAD DE MEXICO,15350,Mexico,3,PROPIA,19.4354940000000000,-99.1197130000000000,NaN,NaN,17,9,1
2219949,5383,646082,NICOLAS BRAVO,1050,NaN,CONST DE APATZINGAN,Irapuato,GUANAJUATO,36589,MEXICO,2,FAMILIAR,20.6903780000000000,-101.3111310000000000,NaN,NaN,17,11,1
2219953,5383,699727,C PROGRESO,16,NaN,Lomas de Guadalupe,Temixco,MORELOS,62583,MEXICO,3,PROPIA,18.8500350000000000,-99.2298850000000000,NaN,NaN,18,17,1

In [126]:
subset = dispersiones.merge(domicilios, on='FI_EMPLEADO')

In [131]:
test = dispersiones.merge(domicilios, on='FI_EMPLEADO').merge(demograficos, on='FI_EMPLEADO')

In [134]:
test = test.sample(n=100)

In [161]:
test

,#FI_ID_INSTITUCION_x,FI_EMPLEADO,FC_CUENTA,FD_ULTIMADISPER,FI_TOTALDISPER,FN_SALARIO,FC_PERIODICIDADPAGO,FI_CAPACIDADPAGO,FC_PRODUCTO,FI_ID_PRODUCTO,...,FC_APELLIDO_PATERNO,FC_APELLIDO_MATERNO,FI_ID_PAIS_y,FD_FECHA_ALTA,FNPAISNACIMIENTO,FNEDONACIMIENTO,FNESTADOCIVIL,FNESCOLARIDAD,FNSEXO,FNNACIONALIDAD
296237,11879,2472450,01275670210120900051,12/09/2021 00:00:00,18,4916.76,SEMANAL,NaN,NOMINA AZTECA,10,...,VILLALPANDO,GOMEZ,1,12/06/2020 00:00:00,1,11,2,7,1,484
211820,11126,1950396,01270180210127920948,12/09/2021 00:00:00,13,3072.11,QUINCENAL,NaN,NOMINA AZTECA,10,...,ROJAS,JIMENEZ,1,11/01/2019 00:00:00,1,20,2,7,2,484
44185,4673,238986,01277090980176376170,11/30/2021 00:00:00,7,5781.23,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,...,OCHOA,HERNANDEZ,1,04/27/2007 00:00:00,1,28,5,7,2,484
107775,5383,1065483,01277034300126590160,12/06/2021 00:00:00,21,2429.64,QUINCENAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,...,CORTES,BECERRA,1,06/02/2019 12:00:00,1,14,1,7,2,484
299035,11879,2461778,01272392110120972965,12/09/2021 00:00:00,18,4884.24,SEMANAL,NaN,NOMINA AZTECA,10,...,GUTIERREZ,MONTER,1,12/06/2020 00:00:00,1,13,2,7,1,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,01276095120128509700,12/10/2021 00:00:00,29,1291.24,SEMANAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,...,POOT,PUC,1,NaN,1,31,1,7,2,484
281332,5383,2370562,01275647270154199432,11/16/2021 00:00:00,5,4310.00,MENSUAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,...,LOPEZ,GARCIA,1,12/05/2020 00:00:00,1,20,1,7,2,484
131833,5383,1307557,01279970050130659970,11/29/2021 00:00:00,20,5094.78,QUINCENAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,...,RAMIREZ,BALTAZAR,1,NaN,1,12,2,7,1,484
12705,4673,177617,01271652130187177355,11/30/2021 00:00:00,7,10478.61,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,...,BRAVO,ALVAREZ,1,03/28/2018 00:00:00,1,15,2,7,2,484
127901,4673,1131903,01272435350127014289,11/30/2021 00:00:00,7,3677.13,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,...,ELIZALDE,HERNANDEZ,1,NaN,1,9,5,7,1,484

In [143]:
test.columns

Index(['#FI_ID_INSTITUCION_x', 'FI_EMPLEADO', 'FC_CUENTA', 'FD_ULTIMADISPER',
       'FI_TOTALDISPER', 'FN_SALARIO', 'FC_PERIODICIDADPAGO',
       'FI_CAPACIDADPAGO', 'FC_PRODUCTO', 'FI_ID_PRODUCTO', 'FI_CREDITOSACTIV',
       'FIPERIODICIDADPAGO', 'FI_CTA_DIGITOS', '#FI_ID_INSTITUCION_y',
       'FC_CALLEHOGAR', 'FC_NUMEXTHOGAR', 'FC_NUMINTHOGAR', 'FC_COLONIAHOGAR',
       'FC_MUNICIPIOHOGAR', 'FC_ESTADOHOGAR', 'FC_CODIGOPOSTAL', 'FC_PAIS',
       'FI_ID_TIPOVIVIENDA', 'FC_ID_TIPOVIVIENDA', 'FC_LATITUD', 'FC_LONGITUD',
       'FC_SUCURSAL', 'FI_ID_COLONIA', 'FI_ID_MUNICIPIO', 'FC_ID_ESTADO',
       'FI_ID_PAIS_x', '#FI_ID_INSTITUCION', 'FI_PAISCU', 'FI_CANALCU',
       'FI_SUCURSALCU', 'FI_FOLIOCU', 'FC_INSTITUCION', 'FC_NOMBRECOMPLETO',
       'FD_FECHANACIMIENTO', 'FC_PAISNACIMIENTO', 'FC_ESTADONACIMIENTO',
       'FI_EDAD', 'FC_RFC', 'FC_CURP', 'FC_NSS', 'FC_ESTADOCIVIL',
       'FC_ESCOLARIDAD', 'FC_SEXO', 'FC_TELEFONOCASA', 'FC_TELCELULAR',
       'FC_EMAIL', 'FC_AVISOPRIVACIDAD', 'FC_CONSULTABURO',
       'FC_USODATOSPERSONA', 'FC_USODATOSPROMO', 'FC_NACIONALIDAD',
       'FD_ALTAEMPLEADO', 'FI_DATOS_CORRECTOS', 'FI_OFERTA', 'FC_STATUS_EMP',
       'FI_STATUS_EMP', 'FC_NOMBRE_EMPLEADO', 'FC_APELLIDO_PATERNO',
       'FC_APELLIDO_MATERNO', 'FI_ID_PAIS_y', 'FD_FECHA_ALTA',
       'FNPAISNACIMIENTO', 'FNEDONACIMIENTO', 'FNESTADOCIVIL', 'FNESCOLARIDAD',
       'FNSEXO', 'FNNACIONALIDAD'],
      dtype='object')

In [162]:
m_demograficos = test[['#FI_ID_INSTITUCION', 'FI_EMPLEADO', 'FI_PAISCU', 'FI_CANALCU',
       'FI_SUCURSALCU', 'FI_FOLIOCU', 'FC_INSTITUCION', 'FC_NOMBRECOMPLETO',
       'FD_FECHANACIMIENTO', 'FC_PAISNACIMIENTO', 'FC_ESTADONACIMIENTO',
       'FI_EDAD', 'FC_RFC', 'FC_CURP', 'FC_NSS', 'FC_ESTADOCIVIL',
       'FC_ESCOLARIDAD', 'FC_SEXO', 'FC_TELEFONOCASA', 'FC_TELCELULAR',
       'FC_EMAIL', 'FC_AVISOPRIVACIDAD', 'FC_CONSULTABURO',
       'FC_USODATOSPERSONA', 'FC_USODATOSPROMO', 'FC_NACIONALIDAD',
       'FD_ALTAEMPLEADO', 'FI_DATOS_CORRECTOS', 'FI_OFERTA', 'FC_STATUS_EMP',
       'FI_STATUS_EMP', 'FC_NOMBRE_EMPLEADO', 'FC_APELLIDO_PATERNO',
       'FC_APELLIDO_MATERNO', 'FI_ID_PAIS_y', 'FD_FECHA_ALTA',
       'FNPAISNACIMIENTO', 'FNEDONACIMIENTO', 'FNESTADOCIVIL', 'FNESCOLARIDAD',
       'FNSEXO', 'FNNACIONALIDAD']]

In [163]:
m_demograficos

,#FI_ID_INSTITUCION,FI_EMPLEADO,FI_PAISCU,FI_CANALCU,FI_SUCURSALCU,FI_FOLIOCU,FC_INSTITUCION,FC_NOMBRECOMPLETO,FD_FECHANACIMIENTO,FC_PAISNACIMIENTO,...,FC_APELLIDO_PATERNO,FC_APELLIDO_MATERNO,FI_ID_PAIS_y,FD_FECHA_ALTA,FNPAISNACIMIENTO,FNEDONACIMIENTO,FNESTADOCIVIL,FNESCOLARIDAD,FNSEXO,FNNACIONALIDAD
296237,11879,2472450,1,9,5670,4118,CUTSPEI SIN CLASIFICAR,MARGARITA VILLALPANDO GOMEZ,11/01/1950 00:00:00,NaN,...,VILLALPANDO,GOMEZ,1,12/06/2020 00:00:00,1,11,2,7,1,484
211820,11126,1950396,1,1,218,3230,TESOFE 11,RICARDO FRANCISCO ROJAS JIMENEZ,12/04/1973 00:00:00,NaN,...,ROJAS,JIMENEZ,1,11/01/2019 00:00:00,1,20,2,7,2,484
44185,4673,238986,1,1,7090,16570,IMSS PENSIONADOS,J VICENTE OCHOA HERNANDEZ,02/01/1947 00:00:00,MEXICO,...,OCHOA,HERNANDEZ,1,04/27/2007 00:00:00,1,28,5,7,2,484
107775,5383,1065483,1,1,7034,129701,BAZ PORTABILIDAD NOMINA,ANTONIO DE JESUS CORTES BECERRA,07/06/2001 00:00:00,NaN,...,CORTES,BECERRA,1,06/02/2019 12:00:00,1,14,1,7,2,484
299035,11879,2461778,1,1,2392,51112,CUTSPEI SIN CLASIFICAR,ESMERALDA GUTIERREZ MONTER,12/02/1993 00:00:00,NaN,...,GUTIERREZ,MONTER,1,12/06/2020 00:00:00,1,13,2,7,1,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,1,1,6095,20096,BAZ PORTABILIDAD NOMINA,SANTOS EDGAR POOT PUC,03/03/1993 12:00:00,NaN,...,POOT,PUC,1,NaN,1,31,1,7,2,484
281332,5383,2370562,1,1,2684,126026,BAZ PORTABILIDAD NOMINA,LUIS ARMANDO LOPEZ GARCIA,01/13/1998 00:00:00,NaN,...,LOPEZ,GARCIA,1,12/05/2020 00:00:00,1,20,1,7,2,484
131833,5383,1307557,1,1,2079,81623,BAZ PORTABILIDAD NOMINA,ADINA RAMIREZ BALTAZAR,04/23/1986 00:00:00,NaN,...,RAMIREZ,BALTAZAR,1,NaN,1,12,2,7,1,484
12705,4673,177617,1,20,1652,4245,IMSS PENSIONADOS,EDUARDO BRAVO ALVAREZ,09/30/1940 00:00:00,MEXICO,...,BRAVO,ALVAREZ,1,03/28/2018 00:00:00,1,15,2,7,2,484
127901,4673,1131903,1,1,2435,75870,IMSS PENSIONADOS,LAURA ELIZALDE HERNANDEZ,03/19/1958 12:00:00,NaN,...,ELIZALDE,HERNANDEZ,1,NaN,1,9,5,7,1,484

In [146]:
m_dispersiones = test[['#FI_ID_INSTITUCION_x', 'FI_EMPLEADO', 'FC_CUENTA', 'FD_ULTIMADISPER',
       'FI_TOTALDISPER', 'FN_SALARIO', 'FC_PERIODICIDADPAGO',
       'FI_CAPACIDADPAGO', 'FC_PRODUCTO', 'FI_ID_PRODUCTO', 'FI_CREDITOSACTIV',
       'FIPERIODICIDADPAGO', 'FI_CTA_DIGITOS']]

In [164]:
m_dispersiones

,#FI_ID_INSTITUCION_x,FI_EMPLEADO,FC_CUENTA,FD_ULTIMADISPER,FI_TOTALDISPER,FN_SALARIO,FC_PERIODICIDADPAGO,FI_CAPACIDADPAGO,FC_PRODUCTO,FI_ID_PRODUCTO,FI_CREDITOSACTIV,FIPERIODICIDADPAGO,FI_CTA_DIGITOS
296237,11879,2472450,01275670210120900051,12/09/2021 00:00:00,18,4916.76,SEMANAL,NaN,NOMINA AZTECA,10,0,1,120900051
211820,11126,1950396,01270180210127920948,12/09/2021 00:00:00,13,3072.11,QUINCENAL,NaN,NOMINA AZTECA,10,0,2,127920948
44185,4673,238986,01277090980176376170,11/30/2021 00:00:00,7,5781.23,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,176376170
107775,5383,1065483,01277034300126590160,12/06/2021 00:00:00,21,2429.64,QUINCENAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,2,2,126590160
299035,11879,2461778,01272392110120972965,12/09/2021 00:00:00,18,4884.24,SEMANAL,NaN,NOMINA AZTECA,10,0,1,120972965
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,01276095120128509700,12/10/2021 00:00:00,29,1291.24,SEMANAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,0,1,128509700
281332,5383,2370562,01275647270154199432,11/16/2021 00:00:00,5,4310.00,MENSUAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,0,3,154199432
131833,5383,1307557,01279970050130659970,11/29/2021 00:00:00,20,5094.78,QUINCENAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,1,2,130659970
12705,4673,177617,01271652130187177355,11/30/2021 00:00:00,7,10478.61,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,187177355
127901,4673,1131903,01272435350127014289,11/30/2021 00:00:00,7,3677.13,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,127014289

In [165]:
m_domicilios = test[['#FI_ID_INSTITUCION_y', 'FI_EMPLEADO',
       'FC_CALLEHOGAR', 'FC_NUMEXTHOGAR', 'FC_NUMINTHOGAR', 'FC_COLONIAHOGAR',
       'FC_MUNICIPIOHOGAR', 'FC_ESTADOHOGAR', 'FC_CODIGOPOSTAL', 'FC_PAIS',
       'FI_ID_TIPOVIVIENDA', 'FC_ID_TIPOVIVIENDA', 'FC_LATITUD', 'FC_LONGITUD',
       'FC_SUCURSAL', 'FI_ID_COLONIA', 'FI_ID_MUNICIPIO', 'FC_ID_ESTADO',
       'FI_ID_PAIS_x']]

In [167]:
m_demograficos.columns

Index(['#FI_ID_INSTITUCION', 'FI_EMPLEADO', 'FI_PAISCU', 'FI_CANALCU',
       'FI_SUCURSALCU', 'FI_FOLIOCU', 'FC_INSTITUCION', 'FC_NOMBRECOMPLETO',
       'FD_FECHANACIMIENTO', 'FC_PAISNACIMIENTO', 'FC_ESTADONACIMIENTO',
       'FI_EDAD', 'FC_RFC', 'FC_CURP', 'FC_NSS', 'FC_ESTADOCIVIL',
       'FC_ESCOLARIDAD', 'FC_SEXO', 'FC_TELEFONOCASA', 'FC_TELCELULAR',
       'FC_EMAIL', 'FC_AVISOPRIVACIDAD', 'FC_CONSULTABURO',
       'FC_USODATOSPERSONA', 'FC_USODATOSPROMO', 'FC_NACIONALIDAD',
       'FD_ALTAEMPLEADO', 'FI_DATOS_CORRECTOS', 'FI_OFERTA', 'FC_STATUS_EMP',
       'FI_STATUS_EMP', 'FC_NOMBRE_EMPLEADO', 'FC_APELLIDO_PATERNO',
       'FC_APELLIDO_MATERNO', 'FI_ID_PAIS_y', 'FD_FECHA_ALTA',
       'FNPAISNACIMIENTO', 'FNEDONACIMIENTO', 'FNESTADOCIVIL', 'FNESCOLARIDAD',
       'FNSEXO', 'FNNACIONALIDAD'],
      dtype='object')

In [168]:
m_demograficos.rename(columns={'FI_ID_PAIS_y':'FI_ID_PAIS'}, inplace=True)

/Users/ilucash/Documents/Proyectos/BIG/NAC/venv/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [169]:
m_demograficos

,#FI_ID_INSTITUCION,FI_EMPLEADO,FI_PAISCU,FI_CANALCU,FI_SUCURSALCU,FI_FOLIOCU,FC_INSTITUCION,FC_NOMBRECOMPLETO,FD_FECHANACIMIENTO,FC_PAISNACIMIENTO,...,FC_APELLIDO_PATERNO,FC_APELLIDO_MATERNO,FI_ID_PAIS,FD_FECHA_ALTA,FNPAISNACIMIENTO,FNEDONACIMIENTO,FNESTADOCIVIL,FNESCOLARIDAD,FNSEXO,FNNACIONALIDAD
296237,11879,2472450,1,9,5670,4118,CUTSPEI SIN CLASIFICAR,MARGARITA VILLALPANDO GOMEZ,11/01/1950 00:00:00,NaN,...,VILLALPANDO,GOMEZ,1,12/06/2020 00:00:00,1,11,2,7,1,484
211820,11126,1950396,1,1,218,3230,TESOFE 11,RICARDO FRANCISCO ROJAS JIMENEZ,12/04/1973 00:00:00,NaN,...,ROJAS,JIMENEZ,1,11/01/2019 00:00:00,1,20,2,7,2,484
44185,4673,238986,1,1,7090,16570,IMSS PENSIONADOS,J VICENTE OCHOA HERNANDEZ,02/01/1947 00:00:00,MEXICO,...,OCHOA,HERNANDEZ,1,04/27/2007 00:00:00,1,28,5,7,2,484
107775,5383,1065483,1,1,7034,129701,BAZ PORTABILIDAD NOMINA,ANTONIO DE JESUS CORTES BECERRA,07/06/2001 00:00:00,NaN,...,CORTES,BECERRA,1,06/02/2019 12:00:00,1,14,1,7,2,484
299035,11879,2461778,1,1,2392,51112,CUTSPEI SIN CLASIFICAR,ESMERALDA GUTIERREZ MONTER,12/02/1993 00:00:00,NaN,...,GUTIERREZ,MONTER,1,12/06/2020 00:00:00,1,13,2,7,1,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,1,1,6095,20096,BAZ PORTABILIDAD NOMINA,SANTOS EDGAR POOT PUC,03/03/1993 12:00:00,NaN,...,POOT,PUC,1,NaN,1,31,1,7,2,484
281332,5383,2370562,1,1,2684,126026,BAZ PORTABILIDAD NOMINA,LUIS ARMANDO LOPEZ GARCIA,01/13/1998 00:00:00,NaN,...,LOPEZ,GARCIA,1,12/05/2020 00:00:00,1,20,1,7,2,484
131833,5383,1307557,1,1,2079,81623,BAZ PORTABILIDAD NOMINA,ADINA RAMIREZ BALTAZAR,04/23/1986 00:00:00,NaN,...,RAMIREZ,BALTAZAR,1,NaN,1,12,2,7,1,484
12705,4673,177617,1,20,1652,4245,IMSS PENSIONADOS,EDUARDO BRAVO ALVAREZ,09/30/1940 00:00:00,MEXICO,...,BRAVO,ALVAREZ,1,03/28/2018 00:00:00,1,15,2,7,2,484
127901,4673,1131903,1,1,2435,75870,IMSS PENSIONADOS,LAURA ELIZALDE HERNANDEZ,03/19/1958 12:00:00,NaN,...,ELIZALDE,HERNANDEZ,1,NaN,1,9,5,7,1,484

In [179]:
m_dispersiones.columns

Index(['#FI_ID_INSTITUCION_x', 'FI_EMPLEADO', 'FC_CUENTA', 'FD_ULTIMADISPER',
       'FI_TOTALDISPER', 'FN_SALARIO', 'FC_PERIODICIDADPAGO',
       'FI_CAPACIDADPAGO', 'FC_PRODUCTO', 'FI_ID_PRODUCTO', 'FI_CREDITOSACTIV',
       'FIPERIODICIDADPAGO', 'FI_CTA_DIGITOS'],
      dtype='object')

In [180]:
m_dispersiones.rename(columns={'#FI_ID_INSTITUCION_x':'#FI_ID_INSTITUCION'}, inplace=True)

/Users/ilucash/Documents/Proyectos/BIG/NAC/venv/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [192]:
m_demograficos

,#FI_ID_INSTITUCION,FI_EMPLEADO,FI_PAISCU,FI_CANALCU,FI_SUCURSALCU,FI_FOLIOCU,FC_INSTITUCION,FC_NOMBRECOMPLETO,FD_FECHANACIMIENTO,FC_PAISNACIMIENTO,...,FC_APELLIDO_PATERNO,FC_APELLIDO_MATERNO,FI_ID_PAIS,FD_FECHA_ALTA,FNPAISNACIMIENTO,FNEDONACIMIENTO,FNESTADOCIVIL,FNESCOLARIDAD,FNSEXO,FNNACIONALIDAD
296237,11879,2472450,1,9,5670,4118,CUTSPEI SIN CLASIFICAR,MARGARITA VILLALPANDO GOMEZ,11/01/1950 00:00:00,NaN,...,VILLALPANDO,GOMEZ,1,12/06/2020 00:00:00,1,11,2,7,1,484
211820,11126,1950396,1,1,218,3230,TESOFE 11,RICARDO FRANCISCO ROJAS JIMENEZ,12/04/1973 00:00:00,NaN,...,ROJAS,JIMENEZ,1,11/01/2019 00:00:00,1,20,2,7,2,484
44185,4673,238986,1,1,7090,16570,IMSS PENSIONADOS,J VICENTE OCHOA HERNANDEZ,02/01/1947 00:00:00,MEXICO,...,OCHOA,HERNANDEZ,1,04/27/2007 00:00:00,1,28,5,7,2,484
107775,5383,1065483,1,1,7034,129701,BAZ PORTABILIDAD NOMINA,ANTONIO DE JESUS CORTES BECERRA,07/06/2001 00:00:00,NaN,...,CORTES,BECERRA,1,06/02/2019 12:00:00,1,14,1,7,2,484
299035,11879,2461778,1,1,2392,51112,CUTSPEI SIN CLASIFICAR,ESMERALDA GUTIERREZ MONTER,12/02/1993 00:00:00,NaN,...,GUTIERREZ,MONTER,1,12/06/2020 00:00:00,1,13,2,7,1,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,1,1,6095,20096,BAZ PORTABILIDAD NOMINA,SANTOS EDGAR POOT PUC,03/03/1993 12:00:00,NaN,...,POOT,PUC,1,NaN,1,31,1,7,2,484
281332,5383,2370562,1,1,2684,126026,BAZ PORTABILIDAD NOMINA,LUIS ARMANDO LOPEZ GARCIA,01/13/1998 00:00:00,NaN,...,LOPEZ,GARCIA,1,12/05/2020 00:00:00,1,20,1,7,2,484
131833,5383,1307557,1,1,2079,81623,BAZ PORTABILIDAD NOMINA,ADINA RAMIREZ BALTAZAR,04/23/1986 00:00:00,NaN,...,RAMIREZ,BALTAZAR,1,NaN,1,12,2,7,1,484
12705,4673,177617,1,20,1652,4245,IMSS PENSIONADOS,EDUARDO BRAVO ALVAREZ,09/30/1940 00:00:00,MEXICO,...,BRAVO,ALVAREZ,1,03/28/2018 00:00:00,1,15,2,7,2,484
127901,4673,1131903,1,1,2435,75870,IMSS PENSIONADOS,LAURA ELIZALDE HERNANDEZ,03/19/1958 12:00:00,NaN,...,ELIZALDE,HERNANDEZ,1,NaN,1,9,5,7,1,484

In [174]:
m_domicilios.columns

Index(['#FI_ID_INSTITUCION_y', 'FI_EMPLEADO', 'FC_CALLEHOGAR',
       'FC_NUMEXTHOGAR', 'FC_NUMINTHOGAR', 'FC_COLONIAHOGAR',
       'FC_MUNICIPIOHOGAR', 'FC_ESTADOHOGAR', 'FC_CODIGOPOSTAL', 'FC_PAIS',
       'FI_ID_TIPOVIVIENDA', 'FC_ID_TIPOVIVIENDA', 'FC_LATITUD', 'FC_LONGITUD',
       'FC_SUCURSAL', 'FI_ID_COLONIA', 'FI_ID_MUNICIPIO', 'FC_ID_ESTADO',
       'FI_ID_PAIS_x'],
      dtype='object')

In [175]:
m_domicilios.rename(columns={'#FI_ID_INSTITUCION_y':'#FI_ID_INSTITUCION','FI_ID_PAIS_x':'FI_ID_PAIS'}, inplace=True)

/Users/ilucash/Documents/Proyectos/BIG/NAC/venv/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [176]:
m_domicilios

,#FI_ID_INSTITUCION,FI_EMPLEADO,FC_CALLEHOGAR,FC_NUMEXTHOGAR,FC_NUMINTHOGAR,FC_COLONIAHOGAR,FC_MUNICIPIOHOGAR,FC_ESTADOHOGAR,FC_CODIGOPOSTAL,FC_PAIS,FI_ID_TIPOVIVIENDA,FC_ID_TIPOVIVIENDA,FC_LATITUD,FC_LONGITUD,FC_SUCURSAL,FI_ID_COLONIA,FI_ID_MUNICIPIO,FC_ID_ESTADO,FI_ID_PAIS
296237,11879,2472450,PRIV LA FUENTE,118,NaN,PARQUE MANZANARES,LEON,GUANAJUATO,37510,MEXICO,3,PROPIA,21.1087050000000000,-101.6499390000000000,NaN,NaN,20,11,1
211820,11126,1950396,RIO SECO,3,0,SAN AGUSTIN DE LAS JUNTAS,SAN AGUSTIN DE LAS JUNTAS,OAXACA,71238,MEXICO,3,PROPIA,17.0096620000000000,-96.7100280000000000,NaN,NaN,83,20,1
44185,4673,238986,AVENIDA CONTADORES,117,117,UNIDAD DEL VALLE,TAMPICO,TAMAULIPAS,89367,MEXICO,3,PROPIA,22.2849670000000000,-97.8848970000000000,NaN,NaN,38,28,1
107775,5383,1065483,RIO TULA,169,NaN,EMILIANO ZAPATA,TLAQUEPAQUE,JALISCO,45638,Mexico,2,FAMILIAR,20.5956000000000000,-103.2697970000000000,NaN,NaN,98,14,1
299035,11879,2461778,PRIV REAL DE SAN FRANCISC,28,LT21,TLANALAPA,TLANALAPA,HIDALGO,43930,MEXICO,3,PROPIA,19.8157170000000000,-98.6026740000000000,NaN,NaN,72,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,3,SN,NaN,NOHUAYUN,Tahdziú,YUCATAN,97364,MEXICO,3,PROPIA,20.9616970000000000,-89.9380800000000000,NaN,NaN,73,31,1
281332,5383,2370562,GALEANA,24,NaN,TLACOLULA DE MATAMOROS CENTRO,TLACOLULA DE MATAMOROS,OAXACA,70403,Mexico,3,PROPIA,17.0243880000000000,-96.4190790000000000,NaN,NaN,551,20,1
131833,5383,1307557,BAJA CALIFORNIA,MZA21,LT20,Lomas de Xocomulco,Chilpancingo de los Bravo,GUERRERO,39036,MEXICO,3,PROPIA,17.5585890000000000,-99.5108490000000000,NaN,NaN,29,12,1
12705,4673,177617,MZ L LT 1,ED D,D 102,SAN RAFAEL 1A Y 2A SECCION,Coacalco de Berriozábal,MEXICO,55719,MEXICO,3,PROPIA,19.6484740000000000,-99.0833230000000000,NaN,NaN,20,15,1
127901,4673,1131903,2DO CJON TLAPECHICO,MZ4,LT9,TLAPECHICO,ALVARO OBREGON,DISTRITO FEDERAL,01230,MEXICO,3,PROPIA,19.3800240000000000,-99.2415900000000000,NaN,NaN,1,9,1

In [182]:
m_demograficos

,#FI_ID_INSTITUCION,FI_EMPLEADO,FI_PAISCU,FI_CANALCU,FI_SUCURSALCU,FI_FOLIOCU,FC_INSTITUCION,FC_NOMBRECOMPLETO,FD_FECHANACIMIENTO,FC_PAISNACIMIENTO,...,FC_APELLIDO_PATERNO,FC_APELLIDO_MATERNO,FI_ID_PAIS,FD_FECHA_ALTA,FNPAISNACIMIENTO,FNEDONACIMIENTO,FNESTADOCIVIL,FNESCOLARIDAD,FNSEXO,FNNACIONALIDAD
296237,11879,2472450,1,9,5670,4118,CUTSPEI SIN CLASIFICAR,MARGARITA VILLALPANDO GOMEZ,11/01/1950 00:00:00,NaN,...,VILLALPANDO,GOMEZ,1,12/06/2020 00:00:00,1,11,2,7,1,484
211820,11126,1950396,1,1,218,3230,TESOFE 11,RICARDO FRANCISCO ROJAS JIMENEZ,12/04/1973 00:00:00,NaN,...,ROJAS,JIMENEZ,1,11/01/2019 00:00:00,1,20,2,7,2,484
44185,4673,238986,1,1,7090,16570,IMSS PENSIONADOS,J VICENTE OCHOA HERNANDEZ,02/01/1947 00:00:00,MEXICO,...,OCHOA,HERNANDEZ,1,04/27/2007 00:00:00,1,28,5,7,2,484
107775,5383,1065483,1,1,7034,129701,BAZ PORTABILIDAD NOMINA,ANTONIO DE JESUS CORTES BECERRA,07/06/2001 00:00:00,NaN,...,CORTES,BECERRA,1,06/02/2019 12:00:00,1,14,1,7,2,484
299035,11879,2461778,1,1,2392,51112,CUTSPEI SIN CLASIFICAR,ESMERALDA GUTIERREZ MONTER,12/02/1993 00:00:00,NaN,...,GUTIERREZ,MONTER,1,12/06/2020 00:00:00,1,13,2,7,1,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,1,1,6095,20096,BAZ PORTABILIDAD NOMINA,SANTOS EDGAR POOT PUC,03/03/1993 12:00:00,NaN,...,POOT,PUC,1,NaN,1,31,1,7,2,484
281332,5383,2370562,1,1,2684,126026,BAZ PORTABILIDAD NOMINA,LUIS ARMANDO LOPEZ GARCIA,01/13/1998 00:00:00,NaN,...,LOPEZ,GARCIA,1,12/05/2020 00:00:00,1,20,1,7,2,484
131833,5383,1307557,1,1,2079,81623,BAZ PORTABILIDAD NOMINA,ADINA RAMIREZ BALTAZAR,04/23/1986 00:00:00,NaN,...,RAMIREZ,BALTAZAR,1,NaN,1,12,2,7,1,484
12705,4673,177617,1,20,1652,4245,IMSS PENSIONADOS,EDUARDO BRAVO ALVAREZ,09/30/1940 00:00:00,MEXICO,...,BRAVO,ALVAREZ,1,03/28/2018 00:00:00,1,15,2,7,2,484
127901,4673,1131903,1,1,2435,75870,IMSS PENSIONADOS,LAURA ELIZALDE HERNANDEZ,03/19/1958 12:00:00,NaN,...,ELIZALDE,HERNANDEZ,1,NaN,1,9,5,7,1,484

In [189]:
m_dispersiones

,#FI_ID_INSTITUCION,FI_EMPLEADO,FC_CUENTA,FD_ULTIMADISPER,FI_TOTALDISPER,FN_SALARIO,FC_PERIODICIDADPAGO,FI_CAPACIDADPAGO,FC_PRODUCTO,FI_ID_PRODUCTO,FI_CREDITOSACTIV,FIPERIODICIDADPAGO,FI_CTA_DIGITOS
296237,11879,2472450,01275670210120900051,12/09/2021 00:00:00,18,4916.76,SEMANAL,NaN,NOMINA AZTECA,10,0,1,120900051
211820,11126,1950396,01270180210127920948,12/09/2021 00:00:00,13,3072.11,QUINCENAL,NaN,NOMINA AZTECA,10,0,2,127920948
44185,4673,238986,01277090980176376170,11/30/2021 00:00:00,7,5781.23,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,176376170
107775,5383,1065483,01277034300126590160,12/06/2021 00:00:00,21,2429.64,QUINCENAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,2,2,126590160
299035,11879,2461778,01272392110120972965,12/09/2021 00:00:00,18,4884.24,SEMANAL,NaN,NOMINA AZTECA,10,0,1,120972965
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,01276095120128509700,12/10/2021 00:00:00,29,1291.24,SEMANAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,0,1,128509700
281332,5383,2370562,01275647270154199432,11/16/2021 00:00:00,5,4310.00,MENSUAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,0,3,154199432
131833,5383,1307557,01279970050130659970,11/29/2021 00:00:00,20,5094.78,QUINCENAL,NaN,CREDITO DE PORTABILIDAD INMEDIATO,4,1,2,130659970
12705,4673,177617,01271652130187177355,11/30/2021 00:00:00,7,10478.61,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,187177355
127901,4673,1131903,01272435350127014289,11/30/2021 00:00:00,7,3677.13,MENSUAL,NaN,PENSIONADOS Y JUBILADOS,11,0,3,127014289

In [188]:
m_domicilios

,#FI_ID_INSTITUCION,FI_EMPLEADO,FC_CALLEHOGAR,FC_NUMEXTHOGAR,FC_NUMINTHOGAR,FC_COLONIAHOGAR,FC_MUNICIPIOHOGAR,FC_ESTADOHOGAR,FC_CODIGOPOSTAL,FC_PAIS,FI_ID_TIPOVIVIENDA,FC_ID_TIPOVIVIENDA,FC_LATITUD,FC_LONGITUD,FC_SUCURSAL,FI_ID_COLONIA,FI_ID_MUNICIPIO,FC_ID_ESTADO,FI_ID_PAIS
296237,11879,2472450,PRIV LA FUENTE,118,NaN,PARQUE MANZANARES,LEON,GUANAJUATO,37510,MEXICO,3,PROPIA,21.1087050000000000,-101.6499390000000000,NaN,NaN,20,11,1
211820,11126,1950396,RIO SECO,3,0,SAN AGUSTIN DE LAS JUNTAS,SAN AGUSTIN DE LAS JUNTAS,OAXACA,71238,MEXICO,3,PROPIA,17.0096620000000000,-96.7100280000000000,NaN,NaN,83,20,1
44185,4673,238986,AVENIDA CONTADORES,117,117,UNIDAD DEL VALLE,TAMPICO,TAMAULIPAS,89367,MEXICO,3,PROPIA,22.2849670000000000,-97.8848970000000000,NaN,NaN,38,28,1
107775,5383,1065483,RIO TULA,169,NaN,EMILIANO ZAPATA,TLAQUEPAQUE,JALISCO,45638,Mexico,2,FAMILIAR,20.5956000000000000,-103.2697970000000000,NaN,NaN,98,14,1
299035,11879,2461778,PRIV REAL DE SAN FRANCISC,28,LT21,TLANALAPA,TLANALAPA,HIDALGO,43930,MEXICO,3,PROPIA,19.8157170000000000,-98.6026740000000000,NaN,NaN,72,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120178,5383,1190451,3,SN,NaN,NOHUAYUN,Tahdziú,YUCATAN,97364,MEXICO,3,PROPIA,20.9616970000000000,-89.9380800000000000,NaN,NaN,73,31,1
281332,5383,2370562,GALEANA,24,NaN,TLACOLULA DE MATAMOROS CENTRO,TLACOLULA DE MATAMOROS,OAXACA,70403,Mexico,3,PROPIA,17.0243880000000000,-96.4190790000000000,NaN,NaN,551,20,1
131833,5383,1307557,BAJA CALIFORNIA,MZA21,LT20,Lomas de Xocomulco,Chilpancingo de los Bravo,GUERRERO,39036,MEXICO,3,PROPIA,17.5585890000000000,-99.5108490000000000,NaN,NaN,29,12,1
12705,4673,177617,MZ L LT 1,ED D,D 102,SAN RAFAEL 1A Y 2A SECCION,Coacalco de Berriozábal,MEXICO,55719,MEXICO,3,PROPIA,19.6484740000000000,-99.0833230000000000,NaN,NaN,20,15,1
127901,4673,1131903,2DO CJON TLAPECHICO,MZ4,LT9,TLAPECHICO,ALVARO OBREGON,DISTRITO FEDERAL,01230,MEXICO,3,PROPIA,19.3800240000000000,-99.2415900000000000,NaN,NaN,1,9,1

In [190]:
m_domicilios.to_csv('DM_DatosDomicilio.txt', sep='|', index=False)
m_dispersiones.to_csv('DM_DatosDispersion.txt', sep='|', index=False)
m_demograficos.to_csv('DM_DatosGenerales.txt', sep='|', index=False)

In [193]:
#FI_PAISCU	FI_CANALCU	FI_SUCURSALCU	FI_FOLIOCU
marca_big.rename(columns={'#FI_ID_PAIS_CU':'FI_PAISCU','FI_ID_SUCURSAL_CU':'FI_SUCURSALCU','FI_ID_CANAL_CU':'FI_CANALCU','FI_FOLIO_CU':'FI_FOLIOCU'}, inplace=True)

In [194]:
marca_big

,FI_PAISCU,FI_SUCURSALCU,FI_CANALCU,FI_FOLIOCU,FI_COD_IDENTIFICADOR,FI_MARCA
0,-9,-5644,1,3323,0,0
1,-1,172,20,24400,0,0
2,1,100,1,87,14,1
3,1,100,1,192,4,1
4,1,100,1,239,10,1
...,...,...,...,...,...,...
1863768,1,7566,1,65859,4,1
1863769,1,6023,1,86678,4,1
1863770,1,5667,1,27704,4,1
1863771,1,9376,1,2917,4,1
1863772,1,5572,39,25027,4,1

In [196]:
marca_big = marca_big[['FI_PAISCU','FI_CANALCU','FI_SUCURSALCU','FI_FOLIOCU','FI_COD_IDENTIFICADOR','FI_MARCA']]

In [197]:
marca_big

,FI_PAISCU,FI_CANALCU,FI_SUCURSALCU,FI_FOLIOCU,FI_COD_IDENTIFICADOR,FI_MARCA
0,-9,1,-5644,3323,0,0
1,-1,20,172,24400,0,0
2,1,1,100,87,14,1
3,1,1,100,192,4,1
4,1,1,100,239,10,1
...,...,...,...,...,...,...
1863768,1,1,7566,65859,4,1
1863769,1,1,6023,86678,4,1
1863770,1,1,5667,27704,4,1
1863771,1,1,9376,2917,4,1
1863772,1,39,5572,25027,4,1

In [198]:
marca_big.merge(m_demograficos, on=['FI_PAISCU','FI_CANALCU','FI_SUCURSALCU','FI_FOLIOCU'])

,FI_PAISCU,FI_CANALCU,FI_SUCURSALCU,FI_FOLIOCU,FI_COD_IDENTIFICADOR,FI_MARCA,#FI_ID_INSTITUCION,FI_EMPLEADO,FC_INSTITUCION,FC_NOMBRECOMPLETO,...,FC_APELLIDO_PATERNO,FC_APELLIDO_MATERNO,FI_ID_PAIS,FD_FECHA_ALTA,FNPAISNACIMIENTO,FNEDONACIMIENTO,FNESTADOCIVIL,FNESCOLARIDAD,FNSEXO,FNNACIONALIDAD
0,1,1,110,134777,4,1,5383,1870474,BAZ PORTABILIDAD NOMINA,GONZALO NICASIO ESCOBEDO,...,NICASIO,ESCOBEDO,1,08/14/2020 00:00:00,1,28,1,7,2,484
1,1,1,128,13335,10,1,10229,1791279,MUNICIPIO DE GUADALAJARA,HUGO FELIPE MEDINA ORTEGA,...,MEDINA,ORTEGA,1,NaN,1,14,1,7,2,484
2,1,1,151,39284,4,1,5383,1056277,BAZ PORTABILIDAD NOMINA,CRISTIAN ANTONIO SILVA CONTRERAS,...,SILVA,CONTRERAS,1,NaN,1,24,1,7,1,484
3,1,1,185,39859,11,1,4673,278771,IMSS PENSIONADOS,NICOLAS TINOCO ALVARADO,...,TINOCO,ALVARADO,1,02/22/2016 00:00:00,1,9,2,7,2,484
4,1,1,218,3230,14,1,11126,1950396,TESOFE 11,RICARDO FRANCISCO ROJAS JIMENEZ,...,ROJAS,JIMENEZ,1,11/01/2019 00:00:00,1,20,2,7,2,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,1,6113,46928,11,1,4673,2683058,IMSS PENSIONADOS,PETRA REZA GARCIA,...,REZA,GARCIA,1,12/08/2020 00:00:00,1,15,5,7,1,484
96,1,1,3421,4225,11,1,4673,2685395,IMSS PENSIONADOS,RODOLFO CERON VALDEZ,...,CERON,VALDEZ,1,12/08/2020 00:00:00,1,15,2,7,2,484
97,1,1,2764,121777,11,1,4673,2537164,IMSS PENSIONADOS,ELIZABETH CRUZ MORALES,...,CRUZ,MORALES,1,12/07/2020 00:00:00,1,14,5,7,1,484
98,1,1,4941,84915,11,1,4673,2537847,IMSS PENSIONADOS,SOFIA HERNANDEZ DELGADO,...,HERNANDEZ,DELGADO,1,12/07/2020 00:00:00,1,15,5,7,1,484
99,1,20,1655,7869,15,1,4673,2536095,IMSS PENSIONADOS,CELIA MORALES CRUZ,...,MORALES,CRUZ,1,12/07/2020 00:00:00,1,15,1,7,1,484

In [199]:
m_marca_big = marca_big.merge(m_demograficos, on=['FI_PAISCU','FI_CANALCU','FI_SUCURSALCU','FI_FOLIOCU'])

In [200]:
m_marca_big = m_marca_big[['FI_PAISCU','FI_CANALCU','FI_SUCURSALCU','FI_FOLIOCU','FI_COD_IDENTIFICADOR','FI_MARCA']]

In [201]:
m_marca_big

   FI_PAISCU FI_CANALCU FI_SUCURSALCU FI_FOLIOCU FI_COD_IDENTIFICADOR FI_MARCA
0          1          1           110     134777                    4        1
1          1          1           128      13335                   10        1
2          1          1           151      39284                    4        1
3          1          1           185      39859                   11        1
4          1          1           218       3230                   14        1
..       ...        ...           ...        ...                  ...      ...
95         1          1          6113      46928                   11        1
96         1          1          3421       4225                   11        1
97         1          1          2764     121777                   11        1
98         1          1          4941      84915                   11        1
99         1         20          1655       7869                   15        1

[100 rows x 6 columns]

In [202]:
m_marca_big.to_csv('Marca_BIG.txt', sep='|', index=False)